.basketCard {
    /* height: 300px; */
    width: 800px;
    /* min-width: auto; */
    background-color: rgb(255, 255, 255);
    margin: 40px;
    padding: 20px;
    border: 2px solid rgb(8, 0, 57);
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 0px 5px #b66100;
    position: relative;
    transition: ease-in 0.2s;
}

.basketCard:hover {
    box-shadow: 0px 0px 15px #FF8900;
}

.basketCard img {
    height: 200px;
    width: 150px;
    margin-right: 40px;
    margin-left: 60px;
    border-radius: 6px;
}

.basketCard p {
    font-size: 16px;
    font-family: Georgia, serif;
}

.buttonDeleteCard button {
    background: #c10000;
    color: rgb(8, 0, 57);
    text-decoration: none;
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    top: 67%;
    left: 93%;
}

.buttonDeleteCard button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.checkboxAllCard {
    position: absolute;
    top: 42%;
    left: 2%;
}

.label {
    display: flex;
    align-items: center;
}

.checkbox {
    display: none;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.fake {
    display: inline-block;
    align-items: center;
    width: 26px;
    height: 26px;
    border: 3px solid #FF8900;
    box-shadow: 0px 0px 5px #784000;
    border-radius: 6px;
    position: relative;

}

.fake::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: .2s;
    background-color: #FF8900;
    border-radius: 6px;
    width: 20px;
    height: 20px;
}

.text {
    margin-left: 5px;
}

.buttonIncrDecrBox {
    display: flex;
    margin-left: 80px;
    margin-top: 30px;
    border: 2px solid rgb(8, 0, 57);
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgb(8, 0, 57);
}

.basketCardInfo {
    display: flex;
}

.ButtonIncrement button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    text-decoration: none;
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    margin: 15px;
}

.ButtonIncrement button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.buttonDecrement button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    text-decoration: none;
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    margin: 15px;
}

.buttonDecrement button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.buttonIncrDecrBox h3 {
    border: 2px solid rgb(8, 0, 57);
    border-radius: 6px;
    padding: 15px;
    /* margin-top: -5px; */
}