.basketBlock {
    margin-top: 0;
    padding: 80px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    font-family: Georgia, serif;
}

.basketBackgroudLine {
    border: 3px solid rgb(8, 0, 57);
    border-radius: 6px;
    width: auto;
    min-width: 1200px;
    max-width: 1550px;
    box-shadow: 0px 0px 10px rgb(8, 0, 57);
}

.basketCheckboxLine {
    min-width: 1200px;
    max-width: 1550px;
    height: 60px;
    background-color: white;
    border: 3px solid rgb(8, 0, 57);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgb(8, 0, 57);
    background-color: rgb(8, 0, 57);
}

.priceBlock {
    height: 100%;
    background-color: white;
    border: 3px solid rgb(8, 0, 57);
    box-shadow: 0px 0px 5px #b66100;
    border-radius: 6px;
    padding: 20px;
    margin: 40px;
    width: 450px;
    min-width: 100px;
    position: sticky;
    display: grid;
    align-content: space-between;
    transition: ease-in 0.2s;
}

.priceBlock:hover {
    box-shadow: 0px 0px 15px #fd8700;
}

.priceBlock h3 {
    text-align: center;
}

.priceBlock button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    text-decoration: none;
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    font-family: Georgia, serif;
}

.priceBlock button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.groupCardProductPrice {
    display: flex;
    background-color: rgb(8, 0, 57);

}

.deleteButton {
    background: #c10000;
    color: rgb(8, 0, 57);
    text-decoration: none;
    border-radius: 6px;
    width: auto;
    text-align: center;
    font-weight: 600;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
}

.deleteButton:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.checkboxAllCard {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
}

.buttonDeleteCheckboxHeder {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
}

.checkbox {
    display: none;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.fake {
    display: inline-block;
    align-items: center;
    width: 26px;
    height: 26px;
    border: 3px solid #FF8900;
    box-shadow: 0px 0px 5px #b66100;
    border-radius: 6px;
    position: relative;

}

.fake::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: .2s;
    background-color: #FF8900;
    border-radius: 6px;
    width: 20px;
    height: 20px;
}

.text {
    margin-left: 5px;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    width: 250px;
    height: auto;
    background-color: rgb(8, 0, 57);
    border-radius: 6px;
    padding: 15px;
    color: white;
    box-shadow: 0px 0px 5px rgb(8, 0, 57);
    text-decoration: overline;
}

.namePageBasket {
    display: flex;
    justify-content: center;
}

hr {
    width: 100%;
}

.basketEmpty {
    width: 350px;
    height: auto;
    padding: 30px;
    background-color: rgb(8, 0, 57);
    box-shadow: 0px 0px 10px #b66100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 6px;
    font-family: Georgia, serif;
    margin: 100px;
}

.basketEmptyBlok {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px;
    text-align: center;
}

.basketEmpty button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    font-family: Georgia, serif;
}

.basketEmpty button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.basketEmpty a {
    text-decoration: none;
}

.basketEmpty img {
    height: 90%;
    width: 90%;
}

.totalPrice {
    font-size: 24px;
    color: green;
}

.totalDiscount {
    font-size: 24px;
    color: orange;
}

.errorAutorisationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.errorAutorisationStyle {
    font-family: Georgia, serif;
    font-size: 12px;
    padding: 20px;
    background-color: rgb(8, 0, 57);
    color: white;
    border-radius: 6px;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 100px;
    text-decoration: none;
}

.errorAutorisationStyle button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    font-family: Georgia, serif;

}

.errorAutorisationStyle button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.errorAutorisationStyle a {
    text-decoration: none;
}