.favoriteCardStyleBlock {
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    font-family: Georgia, serif;
    margin-bottom: 25px;
    transition: ease-in 0.2s;
    box-shadow: 0px 0px 5px #FF8900;
}

.favoriteCardStyleBlock:hover {
    box-shadow: 0px 0px 15px #FF8900;
}

.favoriteCardStyleBlock img {
    width: 100%;
    max-width: 250px;
    margin-right: 50px;
    padding: 10px;
}

.favoriteCardButton {
    display: flex;
}


.favoriteCardButton button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    text-decoration: none;
    border-radius: 6px;
    display: block;
    width: auto;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    transition: all 0.3s;
    cursor: pointer;
    padding: 15px;
    margin-right: 10px;
    font-family: Georgia, serif;
}

.favoriteCardButton button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.favoriteCardStyleContent a {
    color: rgb(8, 0, 57);
    text-decoration: none;
    transition: ease-in 0.2s;
    padding-right: 20px;
}

.favoriteCardStyleContent a:hover {
    color: #FF8900;
}