.backgorundMain {
    font-family: Georgia, serif;
    background: url(../Img/fonMainDog.jpg) no-repeat;
    background-position: left;
    /* background-position: center; */
    background-size: cover;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.mainContant {
    background-color: rgba(8, 0, 73, .4);
    border: 6px solid rgb(8, 0, 57);
    padding: 30px;
}

.imgLogo {
    width: 450px;
}

.headerString {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
}

.mainContainerBorder {
    border: 2px solid #FF8900;
    box-shadow: 0px 0px 10px #ff8900 inset;
    height: auto;
    width: 530px;
    padding: 10px;
}