.prodactContainerCard {
    padding: 55px;
    margin-top: 30px;
}

.styleCard {
    font-family: Georgia, serif;
    padding: 43px;
    border-width: 8px;
    height: 100%;
    border: 2px solid rgb(8, 0, 57);
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgb(8 0 57);
    display: grid;
    position: relative;
    transition: all 0.3s;
}

.styleCard:hover {
    box-shadow: 0px 0px 15px #FF8900;
}

.discountImg {
    width: 110px;
    position: absolute;
    top: -30px;
    left: 278px;
    z-index: 9999;
}

.descriptionCardPorduct {
    width: 255px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 60px;
}

.descriptionCardPorduct::-webkit-scrollbar {
    width: 10px;
    /* ширина scrollbar */
}

.descriptionCardPorduct::-webkit-scrollbar-track {
    background: #FF8900;
    /* цвет дорожки */
    border-radius: 4px;
}

.descriptionCardPorduct::-webkit-scrollbar-thumb {
    background-color: rgb(8, 0, 57);
    /* цвет плашки */
    border-radius: 4px;
    /* закругления плашки */
    border: 1.5px solid #FF8900;
    /* padding вокруг плашки */
}


.styleCard button {
    background: #FF8900;
    color: rgb(8, 0, 57);
    border-radius: 6px;
    display: block;
    text-align: center;
    margin: 20px auto;
    transition: all 0.3s;
    cursor: pointer;
    padding: 25px;
    font-size: 18px;
    margin-bottom: -30px;
}

.styleCard button:hover {
    box-shadow: 0px -5px 0 rgb(8, 0, 57) inset;
}

.imgProdact {
    width: 70px;
    height: 90px;
    display: flex;
    justify-content: center;
}

.productImg img {
    width: 250px;
    max-height: 320px;
}

.styleButtonCardProduct {
    display: flex;
    align-items: baseline;
}

.styleCard p {
    padding: -50px;
}

span {
    color: rgb(8, 0, 57);
    font-weight: 800;
}

.headingStyles {
    width: 270px;
    text-align: center;
    margin-top: -30px;
}

.styleCard a {
    text-decoration: none;
    color: rgb(8, 0, 57);
    transition: ease-in 0.2s;
}

.styleCard a:hover {
    text-decoration: none;
    color: #FF8900;
}

.priceWithoutDiscount {
    text-decoration: line-through black 1px;
    padding-right: 10px;
    padding-left: 15px;
}


.priceCardProduct {
    display: flex;
    align-items: center;
    margin-top: -19px;
}

.priceWithoutDiscountTap {
    padding-right: 10px;
    color: #c70000;
}

.justPrice {
    padding-left: 10px;
}