.signForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    padding-right: 600px;
    padding-left: 600px;
    min-width: 400px;
}

.signForm input {
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
}