.footerContainer {
    background-color: rgb(8, 0, 57);
    font-family: Georgia, serif;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.footerContainer img {
    width: 300px;
    position: absolute;
    top: 12%;
    left: 3%;
}

.footerGroup {
    padding: 30px;
    color: white;
    margin-right: 50px;
    margin-left: 50px;
}